<!-- <div class="container mt-5">
    <div class="card text-center" style="padding: 20px; color: red;">
        <h1>You are User</h1>
        <h1>{{message}}</h1>
    </div>
</div> -->


<div class="container mt-5">
    <div class="card text-center" style="padding: 20px; color: rgb(192, 67, 218);">
        <img src="assets/user1.jpg" alt="Your Image" style="width: 20%; height: auto; margin: 0 auto;">
        <h2 style="color: your_color;">User Access</h2>
        <h1>{{message}}</h1>
    </div>
</div>
