<!-- <div class="container mt-5">
    <div class="card text-center" style="color: green; padding: 20px;">
        <h1>You are Admin</h1>
    </div>
</div> -->


<!-- <div class="container mt-5">
    <div class="card text-center" style="color: rgb(217, 212, 74); padding: 30px; font-family: Arial; background-color: rgb(104, 189, 228);">
        <h1>You are Admin</h1>
    </div>
</div> -->



<div class="container mt-5">
    <div class="card text-center" style="color: rgb(207, 57, 139); padding: 30px; font-family: Arial;">
        <img src="assets/admin.png" alt="Admin" style="width: 35%; height: auto; display: block; margin-left: auto; margin-right: auto;">
        <h2>Admin Access</h2>
    </div>
</div>
